<div class="carousel-wrapper">
  <div class="carousel-header">
    <h2 *ngIf="title" class="carousel-title fs-md">{{ title }}</h2>
    <div class="carousel-controls" *ngIf="totalCards > cardsVisible && !isMobileOrTablet">
      <button
        class="carousel-btn  carousel-btn-prev w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center"
        (click)="prev()"
        [disabled]="!canGoPrev">
        &#8249;
      </button>
      <button
        class="carousel-btn carousel-btn-next w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center"
        (click)="next()"
        [disabled]="!canGoNext">
        &#8250;
      </button>
    </div>
  </div>

  <div class="carousel-container">

    <div
      #carousel
      class="carousel"
      [class.draggable]="isMobileOrTablet">
      <div
        #carouselInner
        class="carousel-inner"
        (mousedown)="onDragStart($event)"
        (mousemove)="onDragMove($event)"
        (mouseup)="onDragEnd($event)"
        (mouseleave)="isDragging && onDragEnd($event)"
        (touchstart)="onDragStart($event)"
        (touchmove)="onDragMove($event)"
        (touchend)="onDragEnd($event)"
        [class.dragging]="isDragging">
        <div
          *ngFor="let item of items"
          class="carousel-item"
          [style.width]="getCardWidth()">
          <ng-container *ngTemplateOutlet="item.template"></ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-indicators" *ngIf="totalCards > cardsVisible && (indicators || isMobileOrTablet)">
    <button
      *ngFor="let i of pages"
      class="indicator"
      [class.active]="i === currentIndex"
      (click)="goToPage(i)">
    </button>
  </div>
</div>

