<div class="carousel-container">
  <div class="carousel-controls">
    <button
      class="carousel-btn carousel-btn-prev"
      (click)="prev()"
      [disabled]="!canGoPrev"
      *ngIf="totalCards > cardsVisible">
      &#8249;
    </button>
    <button
      class="carousel-btn carousel-btn-next"
      (click)="next()"
      [disabled]="!canGoNext"
      *ngIf="totalCards > cardsVisible">
      &#8250;
    </button>
  </div>

  <div #carousel class="carousel">
    <div
      #carouselInner
      class="carousel-inner">
      <div
        *ngFor="let item of items"
        class="carousel-item"
        [style.width]="getCardWidth()">
        <ng-container *ngTemplateOutlet="item.template"></ng-container>
      </div>
    </div>
  </div>
</div>
<div class="carousel-indicators" *ngIf="totalCards > cardsVisible && indicators">
  <button
    *ngFor="let i of pages"
    class="indicator"
    [class.active]="i === currentIndex"
    (click)="goToPage(i)">
  </button>
</div>

