.ui-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__media::ng-deep img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-sm);
    object-fit: cover;
    aspect-ratio: 1/1;
  }

  &--flat{
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  &--box{
    padding: 1.5rem;
    border-radius: var(--radius-sm);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__actions{
  }

  &--outline{
    padding: 1rem;
    border: 1px solid currentColor;
    border-radius: var(--radius-sm);
  }

  &--clickable{
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover{
      transform: scale(102%);
    }
  }

}
