<article class="ui-card space-y-2"
    [class.ui-card--box]="skin === 'box'"
    [class.ui-card--flat]="skin === 'flat'"
    [class.ui-card--outline]="skin === 'outline'"
    [class.ui-card--clickable]="clickable"
    [ngClass]="classes"
    (click)="onCardClick($event)"
  >

  <header class="ui-card__header">
    <ng-content select="[card-header]"></ng-content>
  </header>

  <div *ngIf="mediaRef" class="ui-card__media">
    <ng-content select="[card-media]"></ng-content>
  </div>

  <ng-content></ng-content>

  <footer class="ui-card__actions space-y-3">
    <ng-content select="[card-actions]"></ng-content>
  </footer>
</article>
