<article class="ui-card"
    [class.ui-card--box]="skin === 'box'"
    [class.ui-card--flat]="skin === 'flat'"
    [class.ui-card--outline]="skin === 'outline'"
    [class.ui-card--clickable]="clickable"
    (click)="onCardClick($event)"
  >

  <header class="ui-card__header">
    <ng-content select="[card-header]"></ng-content>
  </header>

  <div class="ui-card__media">
    <ng-content select="[card-media]"></ng-content>
  </div>

  <div class="ui-card__content">
    <ng-content></ng-content>
  </div>

  <footer class="ui-card__actions">
    <ng-content select="[card-actions]"></ng-content>
  </footer>
</article>
