<section class="card-carousel">
  <div class="card-carousel__navigation">
    <button class="card-carousel__button card-carousel__button--prev">
      <span class="card-carousel__icon card-carousel__icon--left"></span>
    </button>
    <button class="card-carousel__button card-carousel__button--next">
      <span class="card-carousel__icon card-carousel__icon--right"></span>
    </button>
  </div>
  <ul class="card-carousel__list">
    <li class="card-carousel__item">
    </li>
  </ul>
</section>
