<div class="flex flex-row gap-5">

  <div class="space-y-16 lg:w-half lg:mr-5">

    <div class="space-y-5">
      <div class="flex items-center">
        <h2 class="fs-xs mr-2">Más de 1000 alojamientos en Santa Cruz de la Sierra</h2>
      </div>

      <section
        class="grid gap-6 grid-cols-2 md:grid-cols-3"
        aria-label="Listings results"
      >
        <p *ngIf="listings.length === 0" style="color: #777; padding: 8px 2px">
          No se encontraron alojamientos con los filtros seleccionados.
        </p>

        <app-listing-card [showDescription]="true" *ngFor="let l of listings" [listing]="l" (listingClick)="listingRedirect(l)"></app-listing-card>
      </section>
    </div>

    <div class="flex flex-row gap-3 justify-center">
      <button class="w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center">1</button>
      <button class="w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center">2</button>
      <button class="w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center">3</button>
      <button class="w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center">4</button>
      <button class="w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center">5</button>
      <button class="w-10 h-10 bg-surface-2 text-on-surface-2 hover:bg-surface-2-hover hover:text-on-surface-2-hover rounded-pill flex items-center justify-center">...</button>
    </div>
  </div>

  <div class="overflow-hidden hidden lg:block lg:w-half map-container">

    <div class="map-container-fixed">
      <div class="w-full w-full rounded-md overflow-hidden map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.48272614525!2d-63.185381224043994!3d-17.768996074671282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7e6d7434001%3A0xee836099e41634dc!2sUniversidad%20NUR!5e0!3m2!1ses!2sbo!4v1761531551787!5m2!1ses!2sbo" class="w-full h-full" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

  </div>
</div>
