<div class="space-y-5">

  <app-card-slider title="Alojamientos destacados en Santa Cruz de la Sierra">
    <ng-container *ngFor="let item of resultsSc">
      <app-listing-card *itemCarousel [listing]="item" (listingClick)="onListingDetail(item)"></app-listing-card>
    </ng-container>
  </app-card-slider>

  <app-card-slider title="Alojamientos destacados en La Paz">
    <ng-container *ngFor="let item of laPazListings">
      <app-listing-card *itemCarousel [listing]="item" (listingClick)="onListingDetail(item)"></app-listing-card>
    </ng-container>
  </app-card-slider>

  <app-card-slider title="Alojamientos destacados en Cochabamba">
    <ng-container *ngFor="let item of cochabambaListings">
      <app-listing-card *itemCarousel [listing]="item" (listingClick)="onListingDetail(item)"></app-listing-card>
    </ng-container>
  </app-card-slider>

  <app-card-slider title="Alojamientos destacados en Tarija">
    <ng-container *ngFor="let item of tarijaListings">
      <app-listing-card *itemCarousel [listing]="item" (listingClick)="onListingDetail(item)"></app-listing-card>
    </ng-container>
  </app-card-slider>

  <app-card-slider title="Alojamientos destacados en Sucre">
    <ng-container *ngFor="let item of sucreListings">
      <app-listing-card *itemCarousel [listing]="item" (listingClick)="onListingDetail(item)"></app-listing-card>
    </ng-container>
  </app-card-slider>

</div>
