<div class="card">
    <header class="card-header">
        <h2>Alojamientos</h2>

        <div class="actions">
            <input class="input" [(ngModel)]="q" placeholder="Buscar por título o ciudad..." />
            <button class="btn" (click)="new()">+ Nuevo Alojamiento</button>
        </div>
    </header>

    <div class="table">
        <div class="thead">
            <div>Foto</div>
            <div>Título</div>
            <div>Ciudad</div>
            <div>Cap</div>
            <div>Precio</div>
            <div>Acciones</div>
        </div>

        <div class="row" *ngFor="let l of listings$ | async">
            <div><img [src]="l.primaryImageUrl" [alt]="l.title"></div>
            <div class="title">{{ l.title }}</div>
            <div>{{ l.city }}</div>
            <div>{{ l.capacity }}</div>
            <div>${{ l.price }}</div>
            <div class="row-actions">
                <button class="small" (click)="edit(l)">Editar</button>
                <button class="small danger" (click)="remove(l)">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" *ngIf="showForm" (click)="showForm=false">
    <div class="modal-body" (click)="$event.stopPropagation()">
        <app-listing-form [value]="editing" (cancel)="showForm=false" (submitForm)="save($event)">
        </app-listing-form>
    </div>
</div>