<div class="container-center-grid">
  <div class="p-10 sm:max-w-xl bg-surface rounded-md drop-shadow-2xl">
    <h2 class="text-center">Register for an account</h2>

    <form action="#" method="POST" class="mt-10 space-y-6">
      <div class="md:flex md:gap-3 space-y-6 md:space-y-0">
        <div>
          <label for="name" class="text-on-surface">Name</label>
          <div class="mt-2">
            <input
              id="name"
              type="text"
              name="name"
              required
              placeholder="Enter your name"
              autocomplete="name"
            />
          </div>
        </div>

        <div class="mt-2">
          <label for="surname" class="text-on-surface">Surname</label>
          <div class="mt-2">
            <input
              id="surname"
              type="text"
              name="surname"
              required
              placeholder="Enter your surname"
              autocomplete="surname"
            />
          </div>
        </div>
      </div>

      <div>
        <label for="email" class="text-on-surface">Email address</label>
        <div class="mt-2">
          <input
            id="email"
            type="email"
            name="email"
            required
            placeholder="Enter your email"
            autocomplete="email"
          />
        </div>
      </div>

      <div>
        <label for="password" class="text-on-surface">Password</label>
        <div class="mt-2">
          <input
            id="password"
            type="password"
            name="password"
            required
            placeholder="Enter your password"
            autocomplete="new-password"
          />
        </div>
      </div>

      <div>
        <label for="confirm-password" class="text-on-surface">Confirm Password</label>
        <div class="mt-2">
          <input
            id="confirm-password"
            type="password"
            name="confirm-password"
            required
            placeholder="Confirm your password"
            autocomplete="new-password"
          />
        </div>
      </div>

      <div>
        <button class="btn-primary" type="submit">Register</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-on-surface">
      You already have an account?
      <a routerLink="/auth/login">Login</a>
    </p>
  </div>
</div>
