header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--surface-2, #fff);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  z-index: 60;
}

.filter {
  display: none;
  /* Temporarily hide old filter */
}