<div class="container-center-grid bg-surface">
    <div class="flex flex-row md:flex-row items-center justify-center gap-8">
        <div>
            <h1 class="fs-h1 fw-bold text-brand-primary">404</h1>
            <h2 class="mt-4 fs-h2 fw-bold text-on-surface">Page not found</h2>
            <p class="mt-2 fs-body text-neutral-500">Sorry, we couldn't find the page you're looking for.</p>
            <div class="mt-6">
                <a routerLink="/" class="fs-body fw-medium text-brand-primary text-brand-primary-hover">
                    Go back home<span aria-hidden="true"> &rarr;</span>
                </a>
            </div>
        </div>

        <div>
            <img class="w-full max-w-xl" src="/page-not-found.png" alt="Page not found illustration">
        </div>
    </div>